.box1{
    background-color: rgba(4, 95, 214,0.8);
}
.box2{
    background-color: rgba(253, 45, 45,0.8);
}
article{
    background-color: white;
    border:none;
    width:97%;
    padding: 1% 2%;
    border-radius: 5px;
    margin: 1% 0;

}
.box{
    align-items: center;
    display: block;
    overflow-y: scroll;
    
}
h3{
    text-transform: capitalize;
   

}
.view{
    
   
    float: right;
    
}
a{
    color:black;
    text-decoration: none;
    font-size: larger;
}
h2{
    font-size: 4vw;
    margin-right: auto;
    margin-left: 1%;
    text-shadow: 2px 2px 1px rgb(199, 198, 198);
    text-transform: uppercase;
}
nav{
    height:10vh
}
.container1{
height: 90vh;
}
a:hover{
    
    text-decoration: underline;
}
